@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
//絶対位置の指定
@mixin absPosition ($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//ベンダープレフレックスの付与
@mixin putPrefix($property, $value) {
    @each $prefix in -webkit-,　-moz-, -ms-,　-o-,
    '' {
        #{$prefix}#{$property}: $value;
    }
}

$text-font-size-1:.9rem;
$text-article-header-size:1.2rem;

$text-color:#0d0015;
//全体
html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: $text-font-size-1;
    font-weight: 300;
    color: $text-color;
    @include putPrefix(display, flex);
    @include putPrefix(flex-wrap, wrap);
}

//共通
.card-frame {
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

// 768px-1024pxの画面が基準
header {
    width: 100%;
    margin: 0;
    h1 {
        display: block;
        margin: 50px auto;
        width: 400px;
        text-align: center;
        a {
            color: $text-color;
            text-decoration: none;
            line-height: 50px;
            font-size: 2rem;
            span {
                color: #9acc1e;
            }
        }
        a:hover {
            opacity: 0.5;
        }
    }
    .nav-area {
        ul {
            width: 500px;
            margin: 0 auto;
            @include putPrefix(display, flex);
            justify-content: space-between;
            li {
                a {
                    text-decoration: none;
                    color: #0d0015;
                }
                a:hover {
                    border-bottom: solid 2px $text-color;
                }
            }
        }
    }
    .menu-trigger{
        display: none;
    }
    .corrupt-nav-area {
        display: none;
    }
}

main {
    margin: 0;
    width: 68%;
    .article-list-area {
        width: 100%;
        @include putPrefix(display, flex);
        @include putPrefix(flex-wrap, wrap);
        article {
            width: calc(50% - 20px);
            margin: 20px 10px;
            @include putPrefix(box-sizing, border-box);
            transition:box-shadow 0.3s, transform 0.3s;
            position: relative;
            img {
                width: 100%;
            }
            h3 {
                margin: 5px 20px;
                font-size: .9rem;
                line-height: 21px;
                font-weight: 400;
            }
            p {
                margin: 5px 20px;
                margin-top: 15px;
                text-align: right;
                font-size: .8rem;
                color: #888888;
            }
            span {
                position: absolute;
                top: 5%;
                left: 5%;
                font-size: .7rem;
                color: white;
                background-color: #9ACC1D;
                border-radius: 10px;
                padding: 5px 10px;
                font-weight: 600;
            }
        }
        article:hover {
            box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
            transform:translate(0, -3px);
        }
    }

    .page-number-area {
        @include putPrefix(display, flex);
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        .page-number {
            @include putPrefix(display, flex);
            justify-content: center;


            span {
                color: #AAAAAA;
                line-height: 40px;
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                box-shadow:0px 0px 3px;
                margin: 0 10px;
                text-align: center;
                vertical-align: middle;
                transition: all .3s ease;
                &:hover {
                    transform: translateY(-4px);
                }
            }
            .active {
                background-color: #0d0015;
                color:white;
                &:hover {
                    transform: none;
                }
            }
        }
    }
    
}

aside {
    margin: 0;
    width: 32%;
    .introduce-area {
        margin: 20px 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: calc(100% - 20px);
        box-sizing: border-box;
        .theme-title {
            display: block;
            width: calc(90% - 40px);
            margin: 10px auto;
            background-color: black;
            padding: 10px 5px;
            p {
                color: white;
                width: 100%;
                font-size: 1.2rem;
                text-align: center;
                line-height: 24px;
            }
            p:first-child {
                margin-bottom: 1px;
            }
        }
        img {
            display: block;
            width: calc(80% - 40px);
            margin: 10px auto;
        }
        p {
            width: calc(90% - 40px);
            margin: 10px auto;
            font-size: .9rem;
            font-weight: 200;
            line-height: 21px;
        }
        button {
            background-color: red;
            color: white;
            border-radius: 10px;
            width: calc(80% - 40px);
            display: block;
            margin: 20px auto;
            padding: 10px 15px;
            font-weight: 400;
            font-size: .9rem;
        }

        button:hover {
            opacity: .8;
            cursor: pointer;
        }
    }

    .profile-area {
        margin: 20px 10px;
        padding-top: 5px;
        width: calc(100% - 20px);
        box-sizing: border-box;
        img {
            display: block;
            width: 120px;
            height: 120px;
            border-radius: 60px;
            margin: 10px auto;
        }
        .name-area {
            p {
                font-weight: 400;
                font-size: 1rem;
                text-align: center;
            }
            span {
                display: block;
                font-weight: 200;
                font-size: .8rem;
                text-align: center;
                margin: 5px 0;
                color: rgba(0, 0, 0, 0.35);
            }
        }
        p {
            width: calc(90% - 40px);
            margin: 10px auto;
            line-height: 21px;
            font-size: .8rem;
            font-weight: 200;
        }
        button {
            background-color: gray;
            color: white;
            border-radius: 10px;
            width: calc(80% - 40px);
            display: block;
            margin: 20px auto;
            padding: 10px 15px;
            font-weight: 400;
            font-size: .9rem;
        }
        button:hover {
            opacity: .8;
            cursor: pointer;
        }
        .sns-area {
            width: calc(100% - 20px);
            background-color: #9ACC1D;
            padding: 10px;
            h4 {
                text-align: center;
                color: white;
                margin-bottom: 10px;

            }
            .sns {
                width: 80%;
                margin: 0 auto;
                a {
                    box-sizing: border-box;
                    display: inline-block;
                    text-align: center;
                    width: 23%;
                    margin: 0;
                    text-decoration: none;
                    color: #ACD653;
                    .fab {
                        color: white;
                    }
                }
            }
        }

    }

    .aside-article-header {
        font-size: 1rem;
        display: block;
        line-height: 28px;
        border-bottom: solid 2px black;
        font-weight: 300;

    }

    .recent-post {
        article {
            @include putPrefix(display, flex);
            margin: 20px 0;

            img {
                width: calc(30% - 5px);
                object-fit: contain;
                margin-right: 5px;
            }

            p {
                font-size: .9rem;
                line-height: 18px;
                font-weight: 300;
                width: 70%;
            }
        }
    }


    .recent-post-area {
        padding: 20px 10px;
    }

    .category-area {
        padding: 20px 10px;
        .select-form {
            position: relative;
            select {
                display: block;
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius: 10px;
                border: solid 1px #AAAAAA;
                color: #AAAAAA;
                @include putPrefix(appearance, none);
            }
            span{
                height: 0;
            }
            span::after {
                display: block;
                position: absolute;
                content: '';
                top: 10px;
                right: 20px;
                width: 10px;
                height: 10px;
                border-bottom: solid 3px black;
                border-right: solid 3px black;
                transform: rotate(45deg) translateY(-50%);
                z-index: 1000;
            }
        }
        
    }

    .tag-area {
        padding: 20px 10px;
    }

    

    .search-area {
        padding: 20px 10px;
        form {
            margin: 10px 5px;
            position: relative;
            input[type="text"] {
                width: 95%;
                background-color:white;
                border-radius: 14px;
                border: solid 1px #AAAAAA;
                height: 28px;
                &:focus {
                    border: solid 1px blue;
                    outline: 0;
                    transition: .3s;
                }
            }
            span::after {
                position: absolute;
                top: 7px;
                right: 35px;
                font-family: "Font Awesome 5 Free";
                content: "\f002";
                padding-right: 5px;
                /*文字との隙間*/
                color: black;
                /*アイコンの色*/
                font-weight: bold;
                width: 3px;
                color: #AAAAAA;
                height: 3px;
                font-size: 1.2rem;
            }
        }
    }

    .recommend-area {
        padding: 20px 10px;
    }
}

.tag-list {
    @include putPrefix(display, flex);
    @include putPrefix(flex-wrap, wrap);
    padding: 5px;

    p {
        background-color: #F5F5F5;
        padding: 5px;
        border-radius: 10px;
        margin-right: 5px;
        font-size: .6rem;

        &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f02b";
            padding-right: 5px;
            /*文字との隙間*/
            color: black;
            /*アイコンの色*/
            font-weight: bold;
            width: 3px;
            height: 3px;
            font-size: .1rem;
        }
    }
}

footer {
    @include putPrefix(display, flex);
    @include putPrefix(flex-wrap, wrap);
    background-color: #383442;
    color: white;
    width: 100%;
    .introduce-footer-area {
        width: calc(33.3% - 40px);
        padding: 50px 20px;
        img {
            display: block;
            width: 120px;
            margin-right: auto;
            margin-left: auto;
        }
        p {
            margin-top: 30px;
            line-height: 25px;
            font-size: .9rem;
            font-weight: 200;
        }

        button {
            display: block;
            width: 200px;
            margin: 20px auto;
            background-color: #E22155;
            border-radius: 20px;
            color: white;
            padding: 5px 30px;
            font-size: .9rem;
            font-weight: 200;
            position: relative;
            &:after {
                display: block;
                content: "";
                width: 5px;
                height: 5px;
                border-bottom: solid 2px #E22155;
                border-right: solid 2px #E22155;
                z-index: 10;

                position: absolute;
                top: 12px;
                left: 16px;
                transform: rotate(-45deg);

            }
            &:before {
                display: block;
                content: "";
                width: 16px;
                height: 16px;
                background-color: white;
                border-radius: 8px;

                position: absolute;
                top: 8px;
                left: 13px;
            }
            &:hover {
                opacity: .8;
            }
        }
    }
    .footer-header {
        font-size: .95rem;
        font-weight: 500;
        border-left: solid 2px #9ACC1D;
        padding-left: 10px;
    }

    .article-link-area {
        width: calc(33.3% - 40px);
        padding: 50px 20px;
        @include putPrefix(display, flex);
        @include putPrefix(flex-wrap, wrap);

        .category-area {
            width: 100%;
        }
        .archives-area {
            width: 100%;
            margin-top: 50px;
        }
        
    }

    .footer-link-list {
        ul {
            margin-top: 20px;

            li {
                padding-left: 10px;
                list-style-type: none;
                position: relative;
                margin-bottom: 20px;
                transition: all .3s;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: .7rem;
                }

                &:before {
                    display: block;
                    content: "";
                    width: 3px;
                    height: 3px;
                    border-bottom: solid 2px white;
                    border-right: solid 2px white;
                    position: absolute;
                    top: 6px;
                    left: 0;
                    transform: rotate(-45deg);
                }
                &:hover {
                    transform: translateX(2px);
                }
            }
        }
    }

    .popular-footer-area {
        width: calc(33.3% - 40px);
        padding: 50px 20px;
        .popular-post-list {
            article {
                @include putPrefix(display, flex);
                margin: 20px 0;

                img {
                    width: calc(30% - 5px);
                    object-fit: contain;
                    margin-right: 5px;
                }

                p {
                    font-size: .9rem;
                    line-height: 18px;
                    font-weight: 300;
                    width: 70%;
                }
            }
        }
    }
    .tag-footer-area {
        width: calc(33.3% - 40px);
        padding: 50px 20px;
        .tag-list {
            p {
                background-color: #6A6771;
                color: white;
                &:before {
                    color: white;
                }
            }
        }
    }
    .license-area {
        width: 100%;
        p {
            text-align: center;
            border-top: solid 1px white;
            line-height: 35px;
        }
    }
}

//画面横400px-　スマホサイズ
@media screen and (min-width:320px)and (max-width:768px) {
    header {
        width: 100%;
        margin: 0;
        h1 {
            display: block;
            margin: 10px auto;
            width: 200px;
            a {
                font-size: 1.5rem;
            }
        }
        .nav-area {
            display: none;
        }
        .menu-trigger{
            z-index: 1000;
            //ハンバーガーアイコンの描写
            display: inline-block;
            position: absolute;
            top: 23px;
            right: 30px;
            width: 25px;
            height: 20px;
            
            transition: all .4s;
            box-sizing: border-box;
            span {
                display: inline-block;
                transition: all .4s;
                box-sizing: border-box;
                
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: black;
                border-radius: 4px;
            }
            span:nth-of-type(1) {
                top: 0;
              }
            span:nth-of-type(2) {
                top: 9px;
              }
            span:nth-of-type(3) {
                bottom: 0;
              }
        }
        .active {
            span:nth-of-type(1) {
                -webkit-transform: translateY(9px) rotate(-45deg);
                transform: translateY(9px) rotate(-45deg);
            }
            span:nth-of-type(2) {
                opacity: 0;
            }
            span:nth-of-type(3) {
                -webkit-transform: translateY(-9px) rotate(45deg);
                transform: translateY(-9px) rotate(45deg);
            }
        }
        
        .corrupt-nav-area {
            transform: translateY(-100%);
            transition: all 1s;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            height: 100%;
            width: 100%;
            opacity: .9;
            h3 {
                width: 300px;
                font-size: 1.5rem;
                margin: 25px auto;
                color: $text-color;
                text-align: center;
            }

            ul {
                width: 70%;
                font-size: 1rem;
                margin: 0 auto;
                li {
                    position: relative;
                    margin: 20px 0;
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: $text-color;
                    }
                }
                li:before {
                    border-radius: 50%; /*丸くする*/
                    width: 8px; /*点の幅*/
                    height: 8px; /*点の高さ*/
                    display: block;
                    position: absolute; /*絶対配置*/
                    left: -15px; /*点の位置*/
                    top: 0.25em; /*点の位置*/
                    content: "";
                    background: #99CC1E; /*点の色*/
                }
            }
        }
    }
    .open {
        .corrupt-nav-area {
            transform: translateY(0);
        }
    }
    
    main {
        margin: 0;
        width: 100%;
    }
    aside {
        margin: 0;
        width: 100%;

        .recent-post-area {

            .recent-post {
                article {
                    img {
                        width: calc(30% - 20px);
                        margin-right: 20px;
                    }

                    p {
                        width: 70%;
                    }
                }
            }
        }
        .category-area {
            padding: 30px 30px;

        }

    }

    

    footer {
        
        .footer-header {
            font-size: 1.1rem;
            font-weight: 400;
            border-bottom: solid 1px #9ACC1D;
            padding-left: 0px;
            border-left: none;
            line-height: 30px;
        }

        .footer-link-list {
            ul {
                li {
                    padding-left: 0;
                    margin-bottom: 20px;
                    transition: all .3s;
                    padding-left: 20px;
                    border-bottom: solid 1px white;
                    line-height: 30px;

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: .9rem;
                    }
                    &:before {
                        display: block;
                        content: "";
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        top: 12px;
                        left: 0;
                        transform: rotate(-45deg);
                    }
                }  
            }
        }

        // @include putPrefix(display, flex);
        // @include putPrefix(flex-wrap, wrap);
        // background-color: #383442;
        // color: white;
        // width: 100%;
        .introduce-footer-area {
            width: 100%;
            order: 1;
        }
        .article-link-area {
            width: 100%;
            order:3;
        }
        .popular-footer-area {
            width: 100%;
            order: 4;
            .popular-post-list {
                article {
                    img {
                        width: calc(40% - 20px);
                        margin-right: 20px;
                    }

                    p {
                        width: 60%;
                        font-weight: 500;
                    }
                }
            }
        }
        .tag-footer-area {
            width: 100%;
            order: 2;
        }
    }
}

//画面横768px-1024px　タブレットサイズ
@media screen and (min-width:768px) and (max-width:1023px) {
    
}
//画面横1024px-　PCデスクトップサイズ
@media screen and (min-width:1024px) {
    header {
        h1 {
            a {
                font-size: 3rem;
            }
        }
        .nav-area {
            ul {
                width: 800px;
                li {
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .desktop {
        width: 1180px;
        margin: 0 auto;
        @include putPrefix(display, flex);
        main {
            width: 70%;
            margin: 0;
            .article-list-area {
                article {
                    h3 {
                        margin: 15px 30px;
                        font-size: 1.1rem;
                        line-height: 26px;
                    }
                }
            }
        }
        aside {
            width: 30%;
            margin: 0;

            .recent-post-area {
                padding: 30px 30px;
                .recent-post {
                    article {
                        img {
                            width: calc(35% - 15px);
                            margin-right: 15px;
                        }
                        p {
                            width: 75%;
                        }
                    }
                }
            }

            .category-area {
                padding: 30px 30px;
            }
        }
    }

    .footer-width {
        width: 1180px;
        margin:0 auto;
        @include putPrefix(display, flex);
        @include putPrefix(flex-wrap, wrap);

        .article-link-area {
            .category-area {
                width: calc(50% - 60px);
                margin: 0 30px;
            }
            .archives-area {
                width: calc(50% - 60px);
                margin: 0 30px;
            }
        }
    }
    
}

// 大型モニターサイズ
@media screen and (min-width:1600px) {
    
}